* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

}
body{
    font-family: 'Montserrat', sans-serif;
    
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
h2{
  margin-bottom: 25px;
}
.error {
   /* light red background */
  color: #d8000c; /* dark red text */
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
  margin-top: -9px;
  margin-left: 8px;
  display: inline-block;
  animation: fadeIn 0.3s ease-in-out;
}
.response {
   /* light green background */
  color: rgb(13, 208, 13);            /* dark green text */
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px;
  display: inline-block;
  animation: fadeIn 0.3s ease-in-out;
  margin-left: 8px;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width: 480px) {
.error{
/* margin-left: 63px; */
  /* width: 178px; */
}
.response{
  /* margin-left: 24px; */
}
}
.btn-outline{
cursor: pointer;
}

